.grid-container {
	margin-top: 1em;
}

.movie img {
	float: left;
	margin-right: 10px;
	width: 120px;
	height: 90px;
}

.movie .bookmark {
	transform: translate(50%, 50%);
}

.ReactModal__Overlay {
	z-index: 1000;
}